@use "../variables/variables" as *;

html {
    scroll-behavior: smooth;
}


.headerdef {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    
}
.scrollHeader {
    background-image: none;
    background-color: #fff;
    color: $scroll-color;
    width: 100%;
    position: fixed;
    top: 0;
   
}

.cimdef {
    
    display: inline-block;
    width: 50%;
    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
   
}
.cimScroll {
    color: $scroll-color;
   
    &:hover {
    color: $sarga;
     }
}

.nav-link {
    color: $scroll-color;
    font-size: 1rem;
    transition: color 0.3s;
    &:hover {
    color: #fff;
    }
  }
.scroll-nav-link {
    color: $scroll-color;
    font-size: 1rem;
    transition: color 0.3s;
    &:hover {
    color: $sarga;
    }
  }

//topsec
.topSect {
     background-image: url("./img/bg-pattern.png"), $linear;
    background-repeat: repeat;
}

.btn-telos {
    border: 2px solid #fff;
    color: #fff;
    padding: 1.1rem;
    font-family: "Lato";
    font-size: 0.8rem;
    background: none;
    border-radius: 2rem;
    transition: background-color 0.3s;
    margin: 2rem 0;

    &:hover {
    border: 2px solid $sarga;
    color: #fff;
    background: $sarga;
    }
        
}
.btn-telos-p
{
    padding-top: 0;    
    width: 60%;
        text-align: left;
    }

// Discover

.discover
{
    background: $sarga;
    padding-bottom: 5rem;
}

//Unlimited

.vonal {
    width: 8vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.iconP {
    font-size: 4rem;
    color: maroon;
     display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    
}

.kartyaDiv {
    display: flex;
    flex-direction: column;
    max-width: 38vw;
}

.kartyacim
{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;

}

//stop waiting

.stopWaiting {
   
    background-image: url("./img/bg-cta.jpg");
    opacity: 0.9;
    backdrop-filter: inherit;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
.containerStop {
    margin: auto 15vw;
    padding-top: 30vh;
    width: 80%;
   
}

.stopH1 {
    font-size: 4em;
    font-weight: 600;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}
.stop--btn-div{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  
}
 

//weLove

#heart {
    color: red;
}
.gplus {
    color: red;
    opacity: 0.9;
    &>hover{
    color: red;
    opacity: 1;    
    }
}

.iconSoc {
    opacity: 0.9;
    font-size: 5rem;
    padding-top: 0;
    margin-top: 0;
    &:hover {
      opacity: 1;   
    }

}

.containerWelove {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weLove {
    background-color: $sarga;
}
.weloveCim {
  font-size: 3rem;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 15vh;
}
.weloveIconok {
  padding-top: 5vh;
  margin-top: 0;
  padding-bottom: 15vh;
}

//footer
.footer {
    background-color: rgb(34, 34, 34);
}

.containerFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
    font-size: 1.2rem;
}

.footerDiv {
    color: rgb(94, 94, 94);
}

.footerLink:hover {
    color: $sarga;
    cursor: pointer;
}


















